/* Blue semi-transparent 4-pointed star, using SVG path. */
/* From stackoverflow */
.default-color0.chart-symbol {
    -fx-background-color: blue;
    -fx-background-radius: 4px;
    -fx-padding: 3px;
}

/* Default shape is a rectangle. Here, we round it to become a red circle with a white
 * center. Change the radius to control the size.
 */
.default-color1.chart-symbol {
    -fx-background-color: red;
    -fx-background-radius: 1px;
    -fx-padding: 1px;
}